@font-face {
    font-family: 'Compagnon Roman';
    src: url('Compagnon-Roman.woff2') format('woff2'),
        url('Compagnon-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Compagnon';
    src: url('Compagnon-Bold.woff2') format('woff2'),
        url('Compagnon-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Compagnon';
    src: url('Compagnon-LightItalic.woff2') format('woff2'),
        url('Compagnon-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Compagnon';
    src: url('Compagnon-Medium.woff2') format('woff2'),
        url('Compagnon-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Compagnon';
    src: url('Compagnon-Light.woff2') format('woff2'),
        url('Compagnon-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

