@import 'variables.css';

* {
/*  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  margin: 0;
  line-height: 1.5; 
  font-size: 20px;
  font-family: Georgia, sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; 
  transition: all 0.5s ease;
}

a:hover {
  color: var(--main-color);
  border-bottom: 1px solid currentcolor; 
}

img {
  width: 100%; }

figure {
  margin: 0; 
}

p{
  line-height: 1.5; 
  font-size: 20px;
}

p a{
  border-bottom: 1px solid var(--main-color);
}


figcaption{
  font-size: 12px;
  color: rgb(120,120,120);
  font-style:italic;
  line-height: 1.4;
}

h2, h3{
  font-family: "Compagnon", sans-serif; 
  font-weight:normal;
  font-style:italic;
  font-size: 35px;
}

h3{
  font-size: 23px; 
  text-decoration:underline;
}

.compagnon{
  font-family: "Compagnon", sans-serif; 
}

.show-for-small-only {
  display: block; }

.hide-for-small-only {
  display: none; }

main {
  padding-top: 100px;
  width: 100%;
  max-width: 1800px;
  margin: auto;
  margin-bottom: 200px; 
}

main .content figure {
  margin: 32px 0; 
}

/*main .content h2 {
  text-align: left;
  margin-top: 60px;
  margin-bottom: 0; 
}
  main .content h3 {
    margin-top: 40px;
    margin-bottom: 20px; }
  main .content h3 + p {
    margin-top: 0; }
  main .content ul {
    padding-left: 40px; }
    main .content ul li {
      list-style: disc; }
  main .content ol {
    padding-left: 40px; }
    main .content ol li {
      list-style: decimal; 
}*/

.featured-img-wrapper{
  position:relative;
  width:100%;
  padding: 0; 
  transition: opacity 0.5s ease; 
}

.featured-img-wrapper:hover{
  opacity: 0.8;
}

.featured-img{
  width: 100%;
  min-height: 220px;
}
.featured-img{
  filter: grayscale(1) contrast(2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.featured-img.background{
  background-color: var(--main-color);
  filter: grayscale(0);
  position:absolute;
  top: 0;
  z-index:10;
  mix-blend-mode: hard-light;
}

.content{
  width: 55%;
  margin:auto;
  position: relative;
}

.bigimage{
  width: 182%;
  position: relative; 
  left: -41%;
}

.bigimage figcaption{
  margin-left: 22.5%;
}

.gallery h2{
  font-style:normal;
  margin-top:6px;
  margin-bottom:6px;
  font-size: 30px;
}

.gallery p{
  margin:0;
  font-size: 18px;
}


/*------- H O M E ----------*/
.introduction{
  margin-bottom: 50px;
}

.news .featured-img{
  height: 350px;
}

.news .news-text{
  padding-left: 2rem;
}
.news + .gallery{
  margin-top: 150px;
}

/*------- F I N     H O M E ----------*/

/* ------- D E F A U L T ----------*/
  
  a.anchor{
    position: relative;
    top: -250px;
    display: hidden;
  }

  .footnote a{
    color: var(--main-color);
    border:0;
  }

  #footnotes{
    font-size: 0.7em;
    margin-top: var(--big-margin);
    margin-bottom: var(--big-margin)
  }

  #footnotes li{
    margin-bottom: var(--small-margin);
  }

  #footnotes ol{
    padding:0;
    margin-left: 16px;
  }

  #footnotes .footnotereverse a{
    color: var(--main-color);
  }

  #footnotes .footnotereverse a:hover{
    border: none;
  }

  #related{
    font-size: 0.8em;
  }

  #related h3{
    font-size: 1.3em;
  }

  #related li{
    margin-bottom: 10px;
  }

  .menu-secondaire{
    position:fixed; 
    bottom: 0;
    right: 0; 
    font-family: "Compagnon", sans-serif;
    background: rgba(255,255,255,0.6); 
    z-index: 10; 
  }
  .menu-secondaire li{
    padding: 10px 43px;
    cursor: pointer; 
    font-size: 15px;
    color: rgba(0,0,0,0.5);
  }

  .menu-secondaire li:hover{
    color: #000; 
  }

/* ------- F I N      D E F A U L T ----------*/

@media only screen and (min-width: 48em) {

  .show-for-small-only {
    display: none !important; }
  .hide-for-small-only {
    display: block !important; } }
